name: responsive_sizer
description: Responsive Sizer helps implement a reponsive layout by providing helper widgets and extensions.
version: 3.1.1
homepage: https://github.com/CoderUni/responsive_sizer/


environment:
  sdk: '>=2.12.0 <3.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter